/* CSS Custom properties */
:root {
  --primary-title: 3rem;
  --secondary-title: 2rem;
  --text-size: 1rem;
  --color-tag: #dcacaa;
  --color-highlight: #067955;
  --color-text: #171b2c;
  --color-secondary: #777a82;
  --panel-button-hover: #233b33;

  --color-background: #e5e7eb;
  --container-color-background: #fff;
  --hover-color-highlight: #067955;
  --panel-title-color-background: #067955;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;

    --color-background: #111111;
    --container-color-background: #161616;
    --hover-color-highlight: #3b3b3b;
    --panel-title-color-background: #111111;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.highlighted {
  color: var(--color-highlight);
}

section {
  border-radius: 1rem;
}

main {
  padding: 2rem;
}
